* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 20px;
}

.dark_bg {
	background-color: #1F2937;
	color: #fff;
}

.quote_bg {
	background-color: #E5E7EB;
}

.cta_bg {
	background-color: #3882F6;
	color: #fff;
}

/*Header section*/
.logo {
	font-size: 24px;
	color: #F9FAF8;
}

.header_container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 0;
}

nav ul {
	display: flex;
	list-style: none;
	justify-content: space-between;
	gap: 15px;
}

nav ul li a {
	text-decoration: none;
	color: #E5E7EB;
  font-size: 18px;
}
/*Header section end*/

/*Hero section*/
.hero_container {
	padding: 100px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 35px;
}

.hero_container_left,
.hero_container_right {
  flex: 1;
}

.hero_container_left h1 {
	font-size: 48px;
	font-weight: 900;
}

.hero_container_left p {
	font-size: 18px;
  color: #E5E7EB;
}

.hero_container_left {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	gap: 10px;
}

.hero_container_left button {
  background-color: #3882F6;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: auto;
}

.hero_container_right {
  flex: 0 0 auto;
  max-width: 100%;
}

.hero_container_right img {
  width: 100%;
  height: auto;
}
/*Hero section end*/

/*Information section*/
.information_section_header {
    padding: 100px 0;
    text-align: center;
}

.information_section_header h2 {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
}

.information_section_content {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.info_card {
    max-width: 200px;
    text-align: center;
}

.box {
    width: 100%;
    height: 200px;
    border: 4px solid #3882F6;
    border-radius: 15px;
    margin-bottom: 10px;
}
/*Information section end*/

/*Quote section*/
.quote_section {
	margin: 100px 0;
	padding: 100px 0;
	background-color: #E5E7EB;
	font-weight: 300;
}

.quote_container {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
}

.quote_container blockquote {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1F2937;
    margin-bottom: 20px;
}

.quote_container figcaption {
    font-size: 24px;
    font-weight: bold;
    align-self: flex-end;
}
/*Quote section end*/

/*CTA section*/
.cta_section {
	border-radius: 15px;
}

.cta_section_inner {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 250px;
	padding: 50px 0;
	margin: 100px 0;
}

.cta_section_inner_button button {
	padding: 8px 30px;
	background-color: transparent;
	border: 2px solid #fff;
	color: #fff;
	border-radius: 5px;
}
/*CTA section end*/

/*Footer*/
footer {
	text-align: center;
	padding: 30px 0;
	color: #fff;
}
/*Footer ends*/
